$margin20:20px;
$fontsize:28px;

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');


html{
    overflow-x: hidden;
}


// navbar
// ----------------------------------------------------------------------------------------------------
#navbar{
    overflow-x: hidden;
}

#navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;

    & li{
        list-style-type: none;
        margin: 20px;   

        img{
            height: 50px;
        }

        li a{
            text-decoration: none;
            color: black;
        }
    }
}

#bar{
    display: none;
   
}

// ---------------media1024px-----------------------------------

@media(max-width:1024px){
    #bar{
        display: block;
        position: absolute;
        top: 50px;
    }

    #nav2{
        position: absolute;
        top: 20px;
        left: 450px;
    }

    #nav3{
        position: absolute;
        top: 35px;
        left: 750px;
    }

    #navbar ul li #navbar1{
        margin: -200px;
    }

    #che:checked~#navbar ul li #navbar1{
        margin:0px;
        display: block;
        transition:margin-left 1.5s;
        position: absolute;
        top: 70px;
        left: 10px;  
    }

    #che:checked~#navbar ul #nav2{
        position: absolute;
        top: 20px;
        left: 450px;
        
    }

    #che:checked~#navbar ul li #nav3{
        position: absolute;
        top: 35px;
        left: 750px;

    }
}

//---------------------------- mediaqueryat768px---------------------------------------------------
@media(max-width:768px){
    #bar{
        display: block;
        position: absolute;
        top: 50px;
    }

    #nav2{
        position: absolute;
        top: 20px;
        left: 200px;
    }

    #nav3{
        position: absolute;
        top: 35px;
        left: 450px;
    }

    #navbar ul li #navbar1{
        margin: -200px;
    }

    #che:checked~#navbar ul li #navbar1{
        margin:0px;
        display: block;
        transition:margin-left 1.5s;
        position: absolute;
        top: 70px;
        left: 10px;  
    }

    #che:checked~#navbar ul #nav2{
        position: absolute;
        top: 20px;
        left: 200px;
        
    }

    #che:checked~#navbar ul li #nav3{
        position: absolute;
        top: 35px;
        left: 450px;

    }
}

// --------------------------mediaqueryat425px---------------------------------------------
@media(max-width:426px){
    #bar{
        display: block;
        position: absolute;
        top: 50px;
    }

    #navbar ul li #navbar1{
        margin: -200px;
    }

    #nav2{
        position: absolute;
        top: 20px;
        left: 50px;
    }

    #nav3{
        position: absolute;
        top: 0px;
        left: 300px;
    }

    #navbar ul li #nav3{
        display: block;
    }

    #che:checked~#navbar ul li #navbar1{
        margin:0px;
        display: block;
        transition:margin-left 1.5s;
        position: absolute;
        top: 70px;
        left: 0px;  
    }

    #che:checked~#navbar ul #nav2{
        position: absolute;
        top: 20px;
        left: 50px;
        
    }

    #che:checked~#navbar ul li #nav3{
        position: absolute;
        top: 0px;
        left: 325px;

    }
}
// -------------------------------mediaquery375px---------------------------------

@media(max-width:375px){
    #bar{
        display: block;
        position: absolute;
        top: 50px;
    }

    #navbar ul li #navbar1{
        margin: -200px;
    }

    #nav2{
        position: absolute;
        top: 20px;
        left: 50px;
    }

    #nav3{
        position: absolute;
        top: 0px;
        left: 300px;
    }

    #navbar ul li #nav3{
        display: block;
    }

    #che:checked~#navbar ul li #navbar1{
        margin:0px;
        display: block;
        transition:margin-left 1.5s;
        position: absolute;
        top: 70px;
        left: 0px;  
    }

    #che:checked~#navbar ul #nav2{
        position: absolute;
        top: 20px;
        left: 50px;
        
    }

    #che:checked~#navbar ul li #nav3{
        position: absolute;
        top: 0px;
        left: 300px;

    }
}

//------------------------------- mediaqueryat320px----------------------------------------------------
@media(max-width:320px){
    #bar{
        display: block;
        position: absolute;
        top: 50px;
    }

    #navbar ul li #navbar1{
        margin: -200px;
    }

    #nav2{
        position: absolute;
        top: 20px;
        left: 30px;
    }

    #nav3{
        position: absolute;
        top: 0px;
        left: 225px;
    }

    #navbar ul li #nav3{
        display: block;
    }

    #che:checked~#navbar ul li #navbar1{
        margin:0px;
        display: block;
        transition:margin-left 1.5s;
        position: absolute;
        top: 70px;
        left: 0px;  
    }

    #che:checked~#navbar ul #nav2{
        position: absolute;
        top: 20px;
        left: 30px;
        
    }

    #che:checked~#navbar ul li #nav3{
        position: absolute;
        top: 0px;
        left: 225px;

    }
}

//



// ----------------------------------------------------HERO------------------------------------

#hero{
overflow-x: hidden;
margin-top: 10px;
}

#hero2{
    background-color: white;
    position: absolute;
    top: 400px;
    left: 100px;
    z-index: 10000;
    height: 200px;
    width: 500px;

    & div{
        font-size: 24px;
        margin: 10px;
    }

    button{
        font-size: $fontsize;
        margin: 20px;
    }
}

// -----------------1024px------------------------
@media(max-width:1024px){
#hero1 img{
     width: 100%;
}

#hero2{
    background-color: white;
    position: absolute;
    top: 250px;
    left: 50px;
    z-index: 10000;
    height: 175px;
    width: 300px;
}
}

// --------------------768px-----------------
@media(max-width:768px){
    #hero1 img{
         width: 100%;
    }
    
    #hero2{
        display: none;
    
    }
}

// ------------------------425px--------------------------
@media(max-width:426px){
    #hero1 img{
         width: 100%;
         height: 500px;
    }
    
    #hero2{
        display: none;
    
    }
}

// ----------------------375px-----------------------

@media(max-width:375px){
    #hero1 img{
         width: 100%;
         height: 450px;
    }
    
    #hero2{
        display: none;
    
    }
}

// ----------------320px----------------------------------------
@media(max-width:320px){
    #hero1 img{
         width: 100%;
         height: 400px;
    }
    
    #hero2{
        display: none;
    
    }
}

// ---------------------------------------CARD------------------------------------------------------

#card{
    overflow-x: hidden;
}

#card1{
    font-size: 32px;
    text-align: center;
    margin: 50px 0px 100px 0px;
}

#card2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

#card2 div{
    font-size: $fontsize;
    text-align: center;
}

#card2 div img{
    height: 250px;
    width: 150px;
    margin: 50px;
}

// ------------------------1024px----------------------
@media(max-width:1024px){
    #card1{
        font-size: 28px;
    }
}

// ----------------------768px----------------------------
@media(max-width:768px){
    #card1{
        font-size: 28px;
    }

    #card2{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

// ---------------------425px----------------------------------
@media(max-width:426px){
    #card1{
        font-size: 24px;
    }

    #card2{
        display: grid;
        grid-template-columns: auto auto;
    }

    #card2 div img{
        height: 250px;
        width: 150px;
        margin: 0px;
    }
}

// ------------------------------375px---------------------------------------
@media(max-width:375px){
    #card1{
        font-size: 24px;
    }

    #card2{
        display: grid;
        grid-template-columns: auto;
    }

    #card2 div img{
        height: 200px;
        width: 100px;
        margin: 0px;
    }
}

// ---------------------------320px----------------------
@media(max-width:320px){
    #card1{
        font-size: 24px;
    }

    #card2{
        display: grid;
        grid-template-columns: auto;
    }

    #card2 div img{
        height: 200px;
        width: 100px;
        margin: 0px;
    }
}

// --------------------------------------------------lipstick----------------------------------------

#lipstick1{
    font-size: $fontsize;
    text-align: center;
    margin: 50px;
}

#lipstick2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

#lipstick2 div img{
    height: 300px;
    width: 200px;
    margin: 50px;
}

#lipstick2 div{
    font-size: $fontsize;
    text-align: center;
}

// --------------------1024px----------------------------
@media(max-width:1024px){
      #lipstick2{
       display: grid;
       grid-template-columns: auto auto auto;
    }
}

// --------------768px--------------------------
@media(max-width:768px){
    #lipstick2{
        display: grid;
        grid-template-columns: auto auto;
    }
}

// -----------------------425px-------------------------
@media(max-width:426px){
    #lipstick2{
        display: grid;
        grid-template-columns: auto;
    }
}

// -------------------375px--------------------------
@media(max-width:375px){
    #lipstick{
        display: grid;
        grid-template-columns: auto;
    }
}

// ---------------------------320px-------------------------------
@media(max-width:320px){
    #lipstick2{
        display: grid;
        grid-template-columns: auto;
    }
}

// ---------------------------------------EYESHADOW----------------------------------------------------------

#eyeshadow1{
    font-size: $fontsize;
    text-align: center;
    margin: 50px;
}

#eyeshadow2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

#eyeshadow2 div img{
    height: 300px;
    width: 200px;
    margin: 50px;
}

#eyeshadow2 div{
    font-size: $fontsize;
    text-align: center;
}

// --------------------1024PX----------------------------
@media(max-width:1024px){
    #eyeshadow2{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

// ----------------678px-------------------------
@media(max-width:768px){
    #eyeshadow2{
        display: grid;
        grid-template-columns: auto auto;
    }
}

// ---------------------425px------------------------------
@media(max-width:426px){
    #eyeshadow2{
        display: grid;
        grid-template-columns: auto;
    }
}

// ---------------------------------375px---------------------------
@media(max-width:375px){
    #eyeshadow2{
        display: grid;
        grid-template-columns:auto;
    }
}

// ----------------------320px----------------------------------------------
@media(max-width:320px){
    #eyeshadow2{
        display: grid;
        grid-template-columns: auto;
    }
}

// --------------------------------FLUNDATION----------------------------------------
#foundation1{
    font-size: $fontsize;
    text-align: center;
    margin: 50px;
}

#foundation2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

#foundation2 div img{
    height: 300px;
    width: 200px;
    margin: 50px;
}

#foundation2 div{
    font-size: $fontsize;
    text-align: center;
}

// -----------------------1024PX--------------------------------
@media(max-width:1024px){
    #foundation2{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

// ---------------------------------768PX----------------------------
@media(max-width:768px){
    #foundation2{
        display: grid;
        grid-template-columns: auto auto;
    }
}

// --------------------------------425PX------------------------------------
@media(max-width:426px){
    #foundation2{
        display: grid;
        grid-template-columns: auto;
    }
}
// --------------------------------375PX----------------------------------------
@media(max-width:375px){
    #foundation2{
        display: grid;
        grid-template-columns: auto;
    }
}

// --------------------------------320PX----------------------------------------
@media(max-width:320px){
    #foundation2{
        display: grid;
        grid-template-columns: auto;
    }
}

// --------------------------------------------HGIHLIGHTER-----------------------------------------------------------

#highlighter1{
    font-size: $fontsize;
    text-align: center;
    margin: 50px;
}

#highlighter2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

#highlighter2 div img{
    height: 300px;
    width: 200px;
    margin: 50px;
}

#highlighter2 div{
    font-size: $fontsize;
    text-align: center;
}

// -----------------------1024PX--------------------------------
@media(max-width:1024px){
    #highlighter2{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

// ---------------------------------768PX----------------------------
@media(max-width:768px){
    #highlighter2{
        display: grid;
        grid-template-columns: auto auto;
    }
}

// --------------------------------425PX------------------------------------
@media(max-width:426px){
    #highlighter2{
        display: grid;
        grid-template-columns: auto;
    }
}
// --------------------------------375PX----------------------------------------
@media(max-width:375px){
    #highlighter2{
        display: grid;
        grid-template-columns: auto;
    }
}

// --------------------------------320PX----------------------------------------
@media(max-width:320px){
    #highlighter2{
        display: grid;
        grid-template-columns: auto;
    }
}

// ------------------------------------------------------NEW ARRIVAL-----------------------------------------------

#newarrival{
    background-color: black;
    color: #ffffff;
    overflow-x: hidden;
}


// ----------------------------------------------------------------------- loginpagecss-----------------------------------

#login{
    text-align: center;
    margin-top: 200px;
    background-image: url(/image/c6a28743feec9e3f1e6ed16152f5a12d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

& #logintext{
    margin-top: 40px;

    #logintext1{
        font-size: 36px;
        position: absolute;
        top: 220px;
        left: 530px;
    }

    #logintext2{
        font-size: 36px;
        position: absolute;
        top: 300px;
        left: 925px;
    }

    input{
        font-size: $fontsize;
        margin: $margin20;
    }

    button{
        font-size: $fontsize;
        margin: $margin20;
    }

    button:hover{
        background-color: #000000;
        color: #ffffff;
    }

    div{
        font-size: $fontsize;
        margin: $margin20;}
        

    #logintext1{
        position: absolute;
        top: 500px;
        left: 400px;
    }
}

#iconic i{
    margin: 30px;
    font-size: 32px;
}
}

// -------------------mediaquery at 769px---------------------------------------
@media(max-width:769px){
    #logintext1{
        display: none;
    }

    #logintext2{
        display: none;
    }
}


// ---------------------------------------------------------PAYMENTPAGE----------------------------------------------------------------

#paymentpage{
background: linear-gradient(#d475c8,#000000);
margin: 0px;
padding: 0px;
}


#paymentpage div{
    font-size: $fontsize;
    font-weight: 900;
    // text-align: center;
    margin: 50px;
}

#paymentpage1{
    font-size: $fontsize;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;  


& div{
    text-align: center;
}
    .pp11{
        border: 2px solid #000000;
        background-color: rgb(176, 176, 179);
        padding: 30px;
          
    }

    .pp11 i{
        font-size: 40px;
        margin-bottom: 20px;
        color: #ffffff;
        
    }

    .pp11 div{
        font-size: 20px;
        margin: 0px;
    }

    .pp11 option{
        background-color: #ffffff;
        color: #000000;
        font-size: 20px;
    }
}

        #paymentinfo{
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
        margin-top: 100px;
        // border: 5px solid black;
    }

    #paymentinfo input{
        display: block;
        margin: 30px;
        font-size: 20px;
    }

    #paymentpage2{
        font-size: $fontsize;
        font-weight: 600;
    }

    button{
        font-size: $fontsize;
        align-content: center;
        margin-top: 50px;
    }

    button:hover{
        background-color: #000000;
        color: #ffffff;
    }


// ------------------------------------------lipstick-----------------------------------------------

#lipstick10{
    display: flex;
    justify-content: space-evenly;
    overflow-x: hidden;

    & #two{
        font-size: 24px;
        font-weight: 700;
        margin-top: 100px;
    }

    #two div{
        margin: 50px;
    }

    #two #twoten{
        font-size: 40px;
        font-weight: 900;
        margin: 50px;
    }


    button{
        font-size: $fontsize;
    }
}

// -------------------------------425PX------------------------------------
@media(max-width:426px){
    #lipstick10{
        display: block;
    }
}



// --------------------------------------------------addtocart-------------------------------

#addtocart{
    display: flex;
    justify-content: space-evenly;
    overflow-x: hidden;

    #addtocart1{
        font-size: 24px;
        font-weight: 700;
        margin-top: 100px;
    }

    #addtocart2{
        font-size: 32px;
        font-weight: 900;
        margin: 100px 100px 100px 0px;
    }
}

// -------------------------------------------------FOOTER--------------------------------------------------

#footbar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;

    div i{
        font-size: 44px;
        font-family: 900;
        display: block;
        margin: 30px;
        margin-top: 30px;
    }

    div p{
        font-size: 24px;
        font-family: 500;

    }
}